<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1: Shankar Ghimire</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="container">
 
        <header>
       		
       		
        	<h1>Shankar Ghimire</h1>
        	
        	<h3>Enterprise Java Development</h3>
        
        </header>
        <!-- 
        <nav>
        
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/output">Output</a> </li>
                <li> <a href="/contact">Contact</a> </li>
                <li> <a href="/aboutus">About Us</a> </li>
            </ul>
             
        </nav>
        -->
        <main>
			<div>
				<a href="/">Back</a> 
				<h1>Output</h1>
				<hr>
			</div>
			<div>
			<p> 
				Rows(m) : <span th:text="${testCSRFormat.rowSize}"></span>&nbsp;&nbsp; &nbsp;&nbsp;Cols (n): <span th:text= "${testCSRFormat.colSize}" ></span>
			</p>
			<p>
				V: <span th:text="${testCSRFormat.listV}"></span>
			</p>
			<p>
				J: <span th:text="${testCSRFormat.listJ}"></span>
			</p>
			<p>
				I: <span th:text="${testCSRFormat.listI}"></span>
			</p>
			</div>
        </main>
        <footer>
            Copy right &copy;Shankar Ghimire
        </footer>
    </div>
</body>
</html>